<a href="https://colab.research.google.com/github/NebojsaIvancevic/CNN-dogbreedclassifier/blob/main/dogbreed_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Resources


> [Deep learning with Python, TensorFlow and Keras](https://pythonprogramming.net/)


> [Dog breed classifier transfer learning](https://towardsdatascience.com/dog-breed-classification-hands-on-approach-b5e4f88c333e)

> [Best pre trained models](https://www.analyticsvidhya.com/blog/2020/08/top-4-pre-trained-models-for-image-classification-with-python-code/)

> [Basics of machine learning image techniques](https://iq.opengenus.org/basics-of-machine-learning-image-classification-techniques/)

In [ ]:
#Create a dog breed classifier using convolutional neural networks and a pretrained model

We are using the stanford dogs dataset from kaggle

In [ ]:
!pip install tensorflow-gpu

ERROR: Operation cancelled by user

We are using colab provided gpus so we need to install required libraries.

In [ ]:
import tensorflow as tf
# tf.__version__
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten, Conv2D, MaxPooling2D
import pickle
from glob import glob
import numpy as np
from keras.preprocessing.image import load_img
import pandas as pd
import os
import matplotlib.pyplot as plt
from tqdm import tqdm

Also we are fetching data directly from the google drive.

In [ ]:
!nvidia-smi

NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.

In [ ]:
train_path = "/content/drive/MyDrive/Datasets/dataset#6dogbreedclassification/train"
test_path = "/content/drive/MyDrive/Datasets/dataset#6dogbreedclassification/test"
labels_path = "/content/drive/MyDrive/Datasets/dataset#6dogbreedclassification/labels.csv"

In [ ]:
labels = pd.read_csv(labels_path)

labels.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [ ]:
labels.describe()
len(os.listdir("/content/drive/MyDrive/Datasets/dataset#6dogbreedclassification/test"))

10357

In [ ]:
# REMOVING IMAGES WITHOUT THE PROPER ID
breed = labels["breed"]
#print(breed) #There is 120 unique breed of dogs
print(len(breed))
print(len(ids))
len(os.listdir("/content/drive/MyDrive/Datasets/dataset#6dogbreedclassification/train"))
array = []
arrayjos = []
#arrayjos.append(labels['id'])
for image in os.listdir(train_path):
    img = image.split(".")[0]
    array.append(img)

10222
10222

In [ ]:
if len(os.listdir("/content/drive/MyDrive/Datasets/dataset#6dogbreedclassification/train")) == len(labels['id']):
    print('Number of file matches number of actual images!')
else:
    print('Number of file doesnot matches number of actual images!!')

Number of file doesnot matches number of actual images!!

In [ ]:
#Create list of alphabetically sorted labels.
classes = sorted(list(set(labels['breed'])))
n_classes = len(classes)
print('Total unique breed {}'.format(n_classes))

#Map each label string to an integer label.
class_to_num = dict(zip(classes, range(n_classes)))
class_to_num

Total unique breed 120

{'affenpinscher': 0,
 'afghan_hound': 1,
 'african_hunting_dog': 2,
 'airedale': 3,
 'american_staffordshire_terrier': 4,
 'appenzeller': 5,
 'australian_terrier': 6,
 'basenji': 7,
 'basset': 8,
 'beagle': 9,
 'bedlington_terrier': 10,
 'bernese_mountain_dog': 11,
 'black-and-tan_coonhound': 12,
 'blenheim_spaniel': 13,
 'bloodhound': 14,
 'bluetick': 15,
 'border_collie': 16,
 'border_terrier': 17,
 'borzoi': 18,
 'boston_bull': 19,
 'bouvier_des_flandres': 20,
 'boxer': 21,
 'brabancon_griffon': 22,
 'briard': 23,
 'brittany_spaniel': 24,
 'bull_mastiff': 25,
 'cairn': 26,
 'cardigan': 27,
 'chesapeake_bay_retriever': 28,
 'chihuahua': 29,
 'chow': 30,
 'clumber': 31,
 'cocker_spaniel': 32,
 'collie': 33,
 'curly-coated_retriever': 34,
 'dandie_dinmont': 35,
 'dhole': 36,
 'dingo': 37,
 'doberman': 38,
 'english_foxhound': 39,
 'english_setter': 40,
 'english_springer': 41,
 'entlebucher': 42,
 'eskimo_dog': 43,
 'flat-coated_retriever': 44,
 'french_bulldog': 45,
 'german_shepherd': 46,
 'german_short-haired_pointer': 47,
 'giant_schnauzer': 48,
 'golden_retriever': 49,
 'gordon_setter': 50,
 'great_dane': 51,
 'great_pyrenees': 52,
 'greater_swiss_mountain_dog': 53,
 'groenendael': 54,
 'ibizan_hound': 55,
 'irish_setter': 56,
 'irish_terrier': 57,
 'irish_water_spaniel': 58,
 'irish_wolfhound': 59,
 'italian_greyhound': 60,
 'japanese_spaniel': 61,
 'keeshond': 62,
 'kelpie': 63,
 'kerry_blue_terrier': 64,
 'komondor': 65,
 'kuvasz': 66,
 'labrador_retriever': 67,
 'lakeland_terrier': 68,
 'leonberg': 69,
 'lhasa': 70,
 'malamute': 71,
 'malinois': 72,
 'maltese_dog': 73,
 'mexican_hairless': 74,
 'miniature_pinscher': 75,
 'miniature_poodle': 76,
 'miniature_schnauzer': 77,
 'newfoundland': 78,
 'norfolk_terrier': 79,
 'norwegian_elkhound': 80,
 'norwich_terrier': 81,
 'old_english_sheepdog': 82,
 'otterhound': 83,
 'papillon': 84,
 'pekinese': 85,
 'pembroke': 86,
 'pomeranian': 87,
 'pug': 88,
 'redbone': 89,
 'rhodesian_ridgeback': 90,
 'rottweiler': 91,
 'saint_bernard': 92,
 'saluki': 93,
 'samoyed': 94,
 'schipperke': 95,
 'scotch_terrier': 96,
 'scottish_deerhound': 97,
 'sealyham_terrier': 98,
 'shetland_sheepdog': 99,
 'shih-tzu': 100,
 'siberian_husky': 101,
 'silky_terrier': 102,
 'soft-coated_wheaten_terrier': 103,
 'staffordshire_bullterrier': 104,
 'standard_poodle': 105,
 'standard_schnauzer': 106,
 'sussex_spaniel': 107,
 'tibetan_mastiff': 108,
 'tibetan_terrier': 109,
 'toy_poodle': 110,
 'toy_terrier': 111,
 'vizsla': 112,
 'walker_hound': 113,
 'weimaraner': 114,
 'welsh_springer_spaniel': 115,
 'west_highland_white_terrier': 116,
 'whippet': 117,
 'wire-haired_fox_terrier': 118,
 'yorkshire_terrier': 119}

In [ ]:
input_shape = (331,331,3)


def images_to_array(directory, label_dataframe, target_size = input_shape):
    
    image_labels = label_dataframe['breed']
    images = np.zeros([len(label_dataframe), target_size[0], target_size[1], target_size[2]],dtype=np.uint8) #as we have huge data and limited ram memory. uint8 takes less memory
    y = np.zeros([len(label_dataframe),1],dtype = np.uint8)
    
    for ix, image_name in enumerate(tqdm(label_dataframe['id'].values)):
        img_dir = os.path.join(directory, image_name + '.jpg')
        img = load_img(img_dir, target_size = target_size)
#         img = np.expand_dims(img, axis=0)
#         img = processed_image_resnet(img)
#         img = img/255
        images[ix]=img
#         images[ix] = img_to_array(img)
        del img
        
        dog_breed = image_labels[ix]
        y[ix] = class_to_num[dog_breed]
    
    y = to_categorical(y)
    
    return images,y

In [ ]:
import time 
t = time.time()

X,y = images_to_array("/content/drive/MyDrive/Datasets/dataset#6dogbreedclassification/train", labels[:])

print('runtime in seconds: {}'.format(time.time() - t))

 30%|██▉       | 3044/10222 [11:28<24:18,  4.92it/s]